# Dependencies
/node_modules
/vendor

# Logs
npm-debug.log
yarn-error.log

# Environment files
.env
.env.backup
.env.production

# Laravel-specific files
bootstrap/compiled.php
public/storage
public/hot
public_html/storage
public_html/hot
storage/*.key
storage/pail

# Development tools
.phpunit.cache
.phpunit.result.cache
.phpactor.json
Homestead.yaml
Homestead.json
.auth.json

# IDE-specific files
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Misc
/.vagrant
/public/build
